*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
# key files
*.jks
*.pepk
# build artifacts
app/debug
app/release
# jniLibs
app/src/main/jniLibs